<!-- ////////////// FOOTER ////////////// -->
footer.border-top.pb-0
	.box.pt-5.pb-5
		.container
			.row
				.col-sm-6.col-md-3
					h5 FRONT-END VIETNAM
					p Mobile: (+84) 969689893<br>Email:admin@fullstack.com<br>Địa chỉ: 28 đường số 2 - CITYLAND - phường 7 - Gò Vấp - HCM
				.col-sm-6.col-md-5
					h5 LINKS
					.row.box
						.col-md-6
							ul
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
						.col-md-6
							ul
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
								li
									a(href="#") Khóa Học Front-end Master
				.col-sm-6.col-md-4
					h5 EMAIL
					.row.box
						.col-8
							input(type="email" placeholder="Email của bạn" required).form-control
						.col-4
							button.btn.btn-more(type="submit") GỬI
	.copy
		.container
			.row
				.col-sm-8.col-md-8
					p Copyright 2018 by Front-End VietNam
				.col-sm-4.col-md-4
					ul.nav
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-facebook
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitter

